.HomeContainer {
  height: 100vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
}
* {
  margin: 0px;
}
.heading {
  margin-left: 10vh;
  font-size: 10vh;
  color: #ffffff;
  padding-top: 15vh;
}
.Discription {
  color: #ffffff;
  font-size: 5vh;
  margin-left: 10vh;
  padding-top: 2vh;
}
.findjobBurron {
  margin-left: 10vh;
  margin-top: 10vh;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6vh;
  width: 10vw;
  border-width: 0px;
  color: #ffffff;
  font-weight: bold;
  border-radius: 10px;
}
