.nav-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #202020;
  height: 15vh;
  padding: 10px;
}
.website-logo {
  margin-top: 3vh;
  margin-left: 2vh;
  height: 6vh;
}
.logout-desktop-btn {
  background-color: blue;
  border-radius: 5px;
  width: 9vw;
  height: 5vh;
  margin-top: 3vh;
  color: #ffffff;
  border-width: 0px;
  border-width: 0px;
}
.nav-menu {
  list-style-type: none;
  display: flex;
  padding: 5px;
}
.nav-link {
  margin: 3vh;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}
